/* TEACHERS SECTION */

// .container {
//   width: 320px;
//   margin: 0 auto;
//   position: relative;
//   padding: 0;
// }

.teacher__starter-kit {
  width: 270px;
  margin: 0 auto;
}

.teachers__title {
  width: 120px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 35px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 45px;
  color: #2c2c2c;
  font-family: 'OswaldB';
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.teachers__title-brackets {
  color: #eebf3e;
}

.PHOTO {
  width: 270px;
  height: 290px;
  background-image: url(../images/mobile-photo-teacher.320px.jpg);
  margin: 0 auto;
  position: relative;
}

.teachers__photo-title {
  display: block;
  width: auto;
  padding: 0 14px;
  height: 35px;
  position: absolute;
  background-color: #5f7cec;
  bottom: -18px;
  left: 25px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 2.1;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: 'HelveticaBd';
  font-weight: bold;
  text-align: center;
}

.teachers__card {
  margin: 0 auto;
  width: 270px;
  margin-bottom: 55px;
  height: 594px;
  filter: drop-shadow(0px 10px 15px rgba(2, 2, 1, 0.07));
  background-color: #ffffff;
}

.teachers__card:nth-of-type(n + 2) {
  display: none;
  height: 0px;
  width: 0px;
}

@keyframes scale {
  from {
    transform: scale(1.3);
  }

  to {
    transform: scale(0.9);
  }
}

.teachers__photo-button-left:focus {
  animation: scale 0.3s linear;
}

.teachers__photo-button-right:focus {
  animation: scale 0.3s linear;
}

.teachers__photo-button-left {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  filter: drop-shadow(1.5px 2.598px 4.5px rgba(2, 2, 1, 0.1));
  background-color: #fff;
  border: none;
  position: absolute;
  bottom: 100px;
  left: -20px;
}

.teachers__photo-button-left::before {
  content: '';
  display: inline-block;
  background-image: url(../images/arl.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  color: #ebebeb;
}

.teachers__photo-button-right {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  filter: drop-shadow(1.5px 2.598px 4.5px rgba(2, 2, 1, 0.1));
  border: none;
  position: absolute;
  bottom: 100px;
  right: -20px;
  background-color: #fff;
}

.teachers__photo-button-right::before {
  content: '';
  display: inline-block;
  background-image: url(../images/ar.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  color: #ebebeb;
  animation-timing-function: ease-in-out;
}

.teachers__card-text-size {
  display: inline-block;
  font-size: 14px;
  // padding-left: 17px;
}

.teachers__card-text-size-top {
  display: inline-block;
  width: 230px;
  // padding-left: 17px;
}

.teachers__card-text-accomplishments {
  display: block;
  padding-top: 30px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #6b6f7a;
  font-family: 'HelveticaR';
  height: auto;
  padding-left: 17px;
}

.teachers__card-text-lore {
  display: block;
  width: 230px;
  height: auto;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #282828;
  font-family: 'HelveticaBd';
  font-weight: 700;
  padding-bottom: 20px;
  margin-top: 15px;
  // margin: 0 auto;
  padding-left: 17px;
}

/* meadia -------------------------------------------------------------- */

@media (min-width: 710px) {
  .teachers {
    position: relative;
    // width: 710px;

    padding-bottom: 90px;
    overflow: hidden;
    // margin: 0 auto;
  }

  .teachers__title {
    width: 150px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 45px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 40px;
  }

  //  .slider {
  //  width: 768px;
  //  margin: 0 auto;
  //  }

  // .container {
  //   width: 710px;
  //   margin: 0 auto;
  // }

  .teacher__starter-kit {
    width: auto;
    position: relative;
  }

  .PHOTO {
    width: 380px;
    height: 290px;
    background-image: url(../images/tablet-photo-teacher.710px.jpg);
    margin: 0 auto;
    position: relative;
  }

  .teachers__photo-button-right {
    bottom: -25px;
  }

  .teachers__photo-button-left {
    bottom: -25px;
  }

  .right {
    display: flex;
    width: 380px;
    height: 290px;
    background-image: url(../images/tablet-photo-teacher-r.710px.jpg);
    margin: 0 auto;
  }

  .left {
    display: flex;
    width: 380px;
    height: 290px;
    background-image: url(../images/tablet-photo-teacher-l.710px.jpg);
    margin: 0 auto;
  }

  .teachers__photo-title {
    bottom: -10px;
    left: 25px;
  }

  .right-side {
    position: absolute;
    top: 0px;
    left: 610px;
  }

  .left-side {
    position: absolute;
    top: 0px;

    left: -270px;
  }

  .teachers__card {
    display: block;
    margin: 0 auto;
    width: 380px;
    height: 587px;
  }

  .side {
    display: none;
  }

  .side-right {
    display: none;
  }

  .teachers__card:nth-of-type(n + 2) {
    display: block;
    width: 380px;
    height: 587px;
  }

  .teachers__card-text-lore {
    display: block;
    width: 270px;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 20px;
    margin-top: 15px;
    padding-left: 27px;
  }

  .right-lore-dscktp {
    width: 320px;
  }

  .lore-size {
    display: inline-block;
  }

  .lore-size-abb {
    display: block;
    width: 280px;
  }

  .teachers__card-text-size-top {
    width: 300px;

    // padding-left: 27px;
  }

  .teacher__card-top-span {
    // padding-left: 10px;
    display: block;
  }

  .cardtext {
    width: 308px;
  }

  .teachers__card-text-size {
    width: 280px;

    // padding-left: 27px;
    display: inline-block;
  }

  .teachers__card-text-accomplishments {
    height: auto;
    padding-left: 27px;
  }
}

@media (min-width: 1440px) {
  // .container {
  //   width: 1440px;
  //   margin: 0 auto;
  //   padding: 0;
  // }

  .teachers__title {
    width: 240px;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 45px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 75px;
  }

  .teachers {
    width: auto;
    padding-bottom: 90px;
    overflow: visible;
  }

  .teacher__starter-kit {
    width: 1220px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .slider {
    width: 1440px;
    margin: 0 auto;
  }

  .PHOTO {
    width: 380px;
    height: 290px;
    background-image: url(../images/tablet-photo-teacher.710px.jpg);
    margin: 0 auto;
    position: relative;
  }

  .right {
    width: 380px;
    height: 290px;
    background-image: url(../images/tablet-photo-teacher-r.710px.jpg);
    margin: 0 auto;
  }

  .left {
    width: 380px;
    height: 290px;
    background-image: url(../images/tablet-photo-teacher-l.710px.jpg);
    margin: 0 auto;
  }

  .teachers__photo-title {
    bottom: -18px;
    left: 25px;
  }

  .right-side {
    position: unset;
  }

  .teachers__card {
    display: block;
    width: 380px;
    height: 587px;
  }

  .side {
    display: none;
  }

  .side-left {
    display: none;
  }

  .teachers__photo-button-right {
    display: none;
  }

  .teachers__photo-button-left {
    display: block;
  }

  .left-side {
    position: unset;
  }

  .side-right {
    display: block;
  }

  .dscktp {
    display: none;
  }

  .teachers__card-text-size {
    display: inline-block;
  }

  .teacher__card-top-span {
    // padding-left: 10px;
    display: block;
  }

  .teachers__card-text-lore {
    display: block;
    width: 270px;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 20px;
    margin-top: 15px;
    padding-left: 27px;
  }

  .right-lore-dscktp {
    width: 320px;
  }

  .lore-size {
    display: inline-block;
  }

  .left-lore {
    width: 300px;
  }

  .teachers__card-text-size-top {
    width: 320px;
  }

  .cardtext {
    width: 260px;
  }

  .teachers__card-text-size {
    width: 280px;
  }

  .teachers__card-text-accomplishments {
    height: auto;
  }
}
