@font-face {
    font-family: "HelveticaBl";
    font-style: normal;
    font-weight: 900;
    src: local("Helvetica Neue"), local("Helvetica Neue"),
    url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
}

@font-face {
    font-family: "HelveticaBd";
    font-style: normal;
    font-weight: 700;
    src: local("Helvetica Neue"), local("Helvetica Neue"),
    url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
}

@font-face {
    font-family: "HelveticaM";
    font-style: normal;
    font-weight: 500;
    src: local("Helvetica Neue"), local("Helvetica Neue"),
    url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "HelveticaR";
    font-style: normal;
    font-weight: 400;
    src: local("Helvetica Neue"), local("Helvetica Neue"),
    url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
}

@font-face {
    font-family: "Marck Script";
    font-style: normal;
    font-weight: 400;
    src: local("Marck Script"), local("Marck Script"),
    url("../fonts/MarckScript-Regular.woff") format("woff"),
    url("../fonts/MarckScript-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Mistral";
    font-style: normal;
    font-weight: 400;
    src: local("Mistral"), local("Mistral"),
    url("../fonts/Mistral.woff") format("woff"),
    url("../fonts/Mistral.woff2") format("woff2");
}

@font-face {
    font-family: "OswaldB";
    font-style: normal;
    font-weight: 700;
    src: local("Oswald"), local("Oswald"),
    url("../fonts/Oswald-Bold.woff") format("woff"),
    url("../fonts/Oswald-Bold.woff2") format("woff2");
}