// COLORS
$basic-color: #ffffff;
$yellow: #fec02a;
$grey-light: #e9e9f3;
$title-color: #282828;
$text-color: #6b6f7a;



// TYPOGRAPHY
$basic-font-family: "HelveticaR";
$normal-weight: 400;
$bold-weight: 700;